.team {
  padding: 10rem 0;
  background-color: red;
  &__container{
    &__heading {
      text-transform: uppercase;
      font-size: 3rem;
      letter-spacing: 10px;
      margin-right: -3px;
      margin-top: 0;
      text-align: center;
      color: #fff;
      position: relative;
    }
    
    &::before {
      content: "";
      width: 30rem;
      height: 0.7rem;
      background-color: #ffb400;
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2rem;
    }
    .card-warpper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 2px;
      align-items: center;
      align-content: center;
      width: 95%;
      /* background-color: red; */
      margin: 20px auto;
    }
    
    .card {
      width: 35rem;
      background-color: #ebeef8;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 3rem 0;
      box-shadow: 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.2);
    }
    
    .card .card-img {
      width: 100%;
      height: 26rem;
      object-fit: cover;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 97%, 0 63%);
      clip-path: polygon(0 0, 100% 0, 100% 97%, 0 63%);
    }
    
    .profile-img {
      width: 15rem;
      height: 15rem;
      object-fit: cover;
      border-radius: 50%;
      margin-top: -11rem;
      z-index: 999;
      border: 0.5rem solid #ebeef8;
    }
    
    .card h1 {
      font-size: 2.5rem;
      color: #333;
      margin: 300;
    }
    
    .job-title {
      color: #777;
      font-size: 2rem;
      font-weight: 300;
    }
    
    .about {
      font-size: 1.5rem;
      margin: 1.5rem 0;
      font-style: italic;
      text-align: center;
      color: #333;
    }
    
    .card .btn {
      padding: 1rem 2.5rem;
      background-color: #445ae3;
      border-radius: 2rem;
      margin: 1rem 0;
      text-transform: uppercase;
      color: #eee;
      font-size: 1.4rem;
      transition: all 0.5s;
    }
    
    .card .btn:hover {
      transform: translateY(-2px);
      box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 2);
    }
    
    .card .btn:active {
      transform: translateY(0);
      box-shadow: none;
    }
    
    .social-media {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      padding: 2rem 0;
      margin-top: 1.5rem;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .social-media i {
      font-size: 3rem;
    }
    .fa-facebook-square {
      color: #3b5999;
    }
    .fa-twitter-square {
      color: #55acee;
    }
    .fa-instagram {
      color: #e6683c;
    }
    
    .fa-facebook-square:hover,
    .fa-twitter-square:hover,
    .fa-instagram:hover {
      color: #45e19f;
    }
    .card {
      margin: 2rem;
    }
    
    .card:hover {
      transform: scale(1.05);
    }
  }
}



